
@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.social-icons-link {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.social-icons {
  background-color: #FFF;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border-radius: 1rem;
  padding: .25rem;
  font-size: .75rem;
}